<div style="width: 500px; margin: auto;">
    <div *ngIf="currentProduct" class="edit-form">
      <h4>Product</h4>
      <form>
        <div class="form-group">
          <label for="title">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentProduct.name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentProduct.description"
            name="description"
          />
        </div>
  
        <div class="form-group">
          <label><strong>Status:</strong></label>
  
        </div>
      </form>
  
      <button
        class="btn btn-primary"
        *ngIf="currentProduct.available"
        (click)="setAvailableStatus(false)"
      >
        Set Not Available
      </button>
      <button
        *ngIf="!currentProduct.available"
        class="btn btn-secondary"
        (click)="setAvailableStatus(true)"
      >
        Set Available
      </button>
  
      <button class="btn btn-danger" (click)="deleteProduct()">
        Delete
      </button>
  
      <button
        type="submit"
        class="btn btn-success"
        (click)="updateProduct()"
      >
        Update
      </button>
      <p></p>
    </div>
  
    <div *ngIf="!currentProduct">
      <br />
      <p>This product is not accessible</p>
    </div>
  </div>