<div class="list row">
    <div class="col-md-8">
    </div>
    <div class="col-md-6">
      <h4>Product List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let product of products; let i = index"
          [class.active]="i == currentIndex"
          (click)="setCurrentProduct(product, i)"
        >
            <h2> {{product.name}} </h2>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentProduct">
        <h4>Product</h4>
        <div>
          <label><strong>Name:</strong></label> 
          {{currentProduct.name}}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{currentProduct.description}}
        </div>
        <div>
          <label><strong>Status:</strong></label>
          {{currentProduct.available}}
        </div>
  
        <a class="btn btn-warning" routerLink= {{currentProduct.id}}>
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentProduct">
        <br />
        <p>Please click on a product</p>
      </div>
    </div>
  </div>
  