<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="login">Login page</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item pointer">
              <a (click) = "logOut()" class="nav-link">Log Out</a>
          </li>
        </ul>
      </ul>
    </div>
  </div>
</nav>

<router-outlet ></router-outlet>