<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="mainpage/products" class="nav-link">Products</a>
        </li>
        <li class="nav-item">
          <a routerLink="mainpage/create" class="nav-link">Create</a>
        </li>
      </div>
    </nav>
  
    <div class="container mt-5">
      <router-outlet></router-outlet>
    </div>
  </div>