<div class="login-wrapper">
    <div class="card">
      <div class="card-body">
        <!-- <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" name="userName" placeholder="User name" 
            formControlName = "userName"/>
            <label for="floatingInput">User name</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" formControlName = "password">
            <label for="floatingPassword">Password</label>
          </div>
      
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
          <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2023</p>
        </form> -->
        <button class="w-100 btn btn-lg btn-primary" (click) = "onClickSubmit()" type="submit">Sign in</button>
      </div>
    </div>
  </div>